<html ng-app="app">
  <head>
    <title>My Angular app</title>
    <script src="js/angular.js"></script>
    <style>
      .old {background: red;}
      .modern {background: blue;}
      .new {background: green;}
      img {
        max-width: 60px;
      }
    </style>
  </head>
  <body>
    <div ng-controller="MoviesController as movies">
      <div class="likes">
        <p>
          Todd's like list
        </p>
        <ul>
          <li ng-repeat="like in movies.likesList">
            <p>{{ like.title }}
          </li>
        </ul>
      </div>
      <ul>
        <li ng-repeat="movie in movies.favorites">
          <p>
            {{ movie.title }}
          </p>
          <a href="" ng-click="movies.addToLikes(movie);">
            Like this movie
          </a>
        </li>
      </ul>
    </div>

    <script src="js/app.js"></script>
    <script src="js/MoviesController.js"></script>
  </body>
</html>